<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/app.js"></script>

<footer id="footer">
    Powered by Sim Lee Jin
    <a href="https://github.com/0pyaq0/spring-board" target="_blank" class="bi bi-github"></a>
    <i class="bi bi-reception-4"></i>
</footer>
</body>
</html>